<h3>Check this for more information {{model.owner}}'s {{model.type}}</h3>

{{update-apartment apartment=model update="update"}}

{{apartment-detail apartment=model destroyApartment="destroyApartment"}}
