<h2>Contact Us</h2>
<p>Thank you for using Property Rental!</p>
<p>Please contact Customer Support through:</p>
<p><strong>Monday-Friday 7:30 AM -8:00 PM</strong></p>
<p><strong>Tel: 070000000</strong></p>
<p><strong>Email: info@propertyrental.com</strong></p>

{{#link-to 'about'}}About.{{/link-to}}
{{#link-to 'index'}}Home.{{/link-to}}
